@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #949494;
}

.top-box .P {
  border-left: 1px solid #fff;
  margin-left: 100px;
  height: 180px;
}
.top-box #header {
  display: flex;
  position: fixed; /* ここでfixedに変更 */
  top: 0; /* ページの上に固定 */
  left: 0; /* 左端に固定 */
  width: 100%; /* 幅を全体に広げる */
  z-index: 1000; /* 他の要素に重ならないようにz-indexを設定 */
}
.top-box #header .header-fixied {
  display: flex;
  width: 100%; /* 幅を100%にして固定 */
}
.top-box #header .header-fixied #header_title {
  margin-top: 70px;
  margin-left: 100px;
}
.top-box #header .header-fixied #header_title .header_Portfolio img {
  width: 200px;
}
.top-box #header .header-fixied .header_menu {
  display: flex;
  justify-content: flex-end;
  width: 80vw;
  color: #fff;
}
.top-box #header .header-fixied .header_menu .header_nav {
  display: flex;
  margin-top: 125px;
  font-size: 20px;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}
.top-box #header .header-fixied .header_menu .header_nav ul,
.top-box #header .header-fixied .header_menu .header_nav li {
  list-style-type: none;
}
.top-box #header .header-fixied .header_menu .header_nav ul a,
.top-box #header .header-fixied .header_menu .header_nav li a {
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: inherit;
}
.top-box #header .header-fixied .header_menu .header_nav ul a:hover,
.top-box #header .header-fixied .header_menu .header_nav li a:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.top-box #header .header-fixied .header_menu .header_nav .ul_list {
  margin-right: 50px;
}
.top-box #header .header-fixied .header_menu .header_nav .ul_list2 {
  margin-right: 50px;
}
.top-box #header .header-fixied .header_menu .header_nav .ul_list3 {
  margin-right: 100px;
}

@media screen and (max-width: 480px) {
  .top-box .P {
    margin-left: 30px;
    height: 50px;
  }
  .top-box #header .header-fixied #header_title {
    margin-top: 20px;
    margin-left: 32px;
  }
  .top-box #header .header-fixied #header_title .header_Portfolio img {
    width: 60px;
  }
  .top-box #header .header-fixied .header_menu {
    width: 80vw;
  }
  .top-box #header .header-fixied .header_menu .header_nav {
    margin-top: 35px;
    font-size: 7px;
    font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  }
  .top-box #header .header-fixied .header_menu .header_nav ul,
  .top-box #header .header-fixied .header_menu .header_nav li {
    list-style-type: none;
  }
  .top-box #header .header-fixied .header_menu .header_nav ul a,
  .top-box #header .header-fixied .header_menu .header_nav li a {
    display: inline-block;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: inherit;
  }
  .top-box #header .header-fixied .header_menu .header_nav .ul_list {
    margin-right: 20px;
  }
  .top-box #header .header-fixied .header_menu .header_nav .ul_list2 {
    margin-right: 20px;
  }
  .top-box #header .header-fixied .header_menu .header_nav .ul_list3 {
    margin-right: 50px;
  }
}
.profile-box {
  border-top: 1px solid #fff;
  display: flex;
  /* ホバー時に反転 */
  /* 表と裏のスタイル */
  /* 裏面を180度回転 */
}
.profile-box .profile-box2 {
  border-right: 1px solid #fff;
}
.profile-box .profile-box2 .profile-title {
  color: #fff;
  margin-top: 70px;
  margin-left: 100px;
  font-size: 50px;
  font-weight: 700;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}
.profile-box .profile-box2 .profile-content {
  margin-right: 100px;
  margin-left: 100px;
  font-family: "Hiragino Sans", sans-serif;
  color: #fff;
}
.profile-box .profile-box2 .profile-content .Scholl-text {
  margin-top: 30px;
  font-size: 25px;
}
.profile-box .profile-box2 .profile-content .Name {
  margin-top: 30px;
  font-size: 25px;
}
.profile-box .profile-box2 .profile-content .profile-text {
  margin-top: 30px;
  margin-bottom: 70px;
  font-size: 17px;
}
.profile-box .flip-container {
  width: 400px;
  /* 写真のサイズに合わせる */
  height: 400px;
  perspective: 1000px;
  /* 3D効果をつける */
}
.profile-box .flipper {
  margin-left: 200px;
  margin-top: 90px;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 10s;
}
.profile-box .flip-container:hover .flipper {
  transform: rotateY(180deg);
}
.profile-box .front,
.profile-box .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* 裏面を隠す */
}
.profile-box .front img,
.profile-box .back img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* 画像を要素に合わせる */
}
.profile-box .back {
  transform: rotateY(180deg);
}

@media screen and (max-width: 480px) {
  .profile-box .profile-box2 .profile-title {
    margin-top: 30px;
    margin-left: 30px;
    font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
    font-size: 20px;
  }
  .profile-box .profile-box2 .profile-content {
    margin-right: 30px;
    margin-left: 30px;
    font-family: "Hiragino Sans", sans-serif;
  }
  .profile-box .profile-box2 .profile-content .Scholl-text {
    margin-top: 10px;
    font-size: 7px;
  }
  .profile-box .profile-box2 .profile-content .Name {
    margin-top: 10px;
    font-size: 10px;
  }
  .profile-box .profile-box2 .profile-content .profile-text {
    margin-top: 10px;
    font-size: 7px;
    margin-bottom: 30px;
  }
  .profile-box .flip-container {
    width: 100px;
    height: 100px;
  }
  .profile-box .flip-container .flipper {
    margin-left: 25px;
    margin-top: 60px;
  }
  .profile-box .flip-container .flipper .front img {
    width: 100px;
    height: 100px;
  }
  .profile-box .flip-container .front img,
  .profile-box .flip-container .back img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    /* 画像を要素に合わせる */
  }
}
.Works {
  border-top: 1px solid #fff;
}
.Works .Works-title {
  color: #fff;
  margin-top: 70px;
  margin-left: 100px;
  margin-bottom: 40px;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  font-size: 50px;
  font-weight: 700;
}
.Works .swiper {
  margin-bottom: 50px;
  overflow: hidden;
}
.Works .swiper .swiper-wrapper {
  overflow: visible;
  transition-timing-function: linear;
  display: flex;
}
.Works .swiper .swiper-wrapper ul,
.Works .swiper .swiper-wrapper li {
  list-style-type: none;
}
.Works .swiper .swiper-wrapper ul a,
.Works .swiper .swiper-wrapper li a {
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.Works .swiper .swiper-wrapper ul a img:hover,
.Works .swiper .swiper-wrapper li a img:hover {
  transition: all 0.3s ease 0s;
  cursor: pointer;
  transform: scale(1.2);
}
.Works .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
.Works .swiper .swiper-wrapper .swiper-slide .img-link img {
  width: 400px;
}
.Works .swiper .swiper-wrapper .swiper-slide .img-link2 img {
  width: 400px;
  height: 260px;
}
.Works .swiper .swiper-wrapper .swiper-slide .text-content {
  text-align: center;
}
.Works .swiper .swiper-wrapper .swiper-slide .text-content .title-text {
  font-size: 18px;
  transition: transform 0.3s ease;
  display: inline-block;
}
.Works .swiper .swiper-wrapper .swiper-slide .text-content .title-text:hover {
  color: yellow;
  transform: translateX(10000000000px);
  /* スライドを拡大 */
  box-shadow: 0 10px 20px rgb(255, 255, 255);
}
.Works .swiper .swiper-wrapper .swiper-slide .text-content .text {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .Works .Works-title {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 20px;
    font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  }
  .Works .swiper {
    margin-bottom: 3px;
  }
  .Works .swiper .swiper-wrapper .swiper-slide {
    margin-left: 20px;
    margin-right: 20px;
  }
  .Works .swiper .swiper-wrapper .swiper-slide .img-link img {
    width: 100px;
  }
  .Works .swiper .swiper-wrapper .swiper-slide .img-link2 img {
    width: 100px;
    height: 70px;
  }
  .Works .swiper .swiper-wrapper .swiper-slide .text-content .title-text {
    font-size: 7px;
  }
  .Works .swiper .swiper-wrapper .swiper-slide .text-content .text {
    font-size: 8px;
  }
  .Works .swiper .swiper-wrapper .swiper-slide .text-content .title-text:hover {
    box-shadow: 0px 0px 0px;
  }
}/*# sourceMappingURL=style.css.map */